<footer class="text-center text-lg-start bg-light text-muted pt-5">
	<section class="d-flex justify-content-center justify-content-lg-between  border-bottom">
		<div class="me-5 d-none d-lg-block"></div>
		<div>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-google"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-linkedin"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-github"></i>
			</a>
		</div>

	</section>
	<section class="">
		<div class="container text-center text-md-start pt-5">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i>Gtrouver
					</h6>
					<p>
						site met en relation les personnes qui ont perdu un objet (les Perdants) et celles qui l'ont trouvé (les Inventeurs).
						Les visiteurs déclarent leur objet perdu ou trouvé via un  formulaire disponible, accessible 24h/24 et 7jours/7.</p>
				</div>
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">

					<h6 class="text-uppercase fw-bold mb-4">
						LIENS
					</h6>
					<p>
						<a href="{{path('app_annonce_adloser')}}" class="text-reset">Declarer un objet</a>
					</p>
					<p>
						<a href="{{path('app_matching_trouver')}}" class="text-reset">Matching</a>
					</p>
					<p>
						<a href="{{path('app_user_profile')}}" class="text-reset">Profile</a>
					</p>
					<p>
						<a href="{{path('app_messages_envoyes')}}" class="text-reset">Messageries</a>
					</p>
				</div>


				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4 text-center">

					<h6 class="text-uppercase fw-bold mb-4">
						Autres Liens
					</h6>
					<p>
						<a href="{{path('app_home')}}" class="text-reset">Home</a>
					</p>
					<p>
						<a href="{{path('app_contact')}}" class="text-reset">Une Question ?</a>
					</p>
					<p>
						<a href="{{path('app_conditions')}}" class="text-reset">
							les Conditions D'utilisations</a>
					</p>
					<p>
						<a href="{{path('app_confidentialite')}}" class="text-reset">Politique De Confidentialité</a>
					</p>
				</div>


				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center">

					<h6 class="text-uppercase fw-bold mb-4">
						Contact
					</h6>
					<p>
						<i class="fas fa-home me-3"></i>
						Paris , 75012, FR</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						contact@gtrouver.com
					</p>
					<p>
						<i class="fas fa-phone me-3"></i>
						+33 6 15 62 42 75
					</p>
					<p>
						<i class="fas fa-print me-3"></i>
						+33 6 15 62 42 70
					</p>
				</div>

			</div>

		</div>
	</section>

	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
	
	</div>
	
</footer>
