{% extends 'partials/navbar2.html.twig' %}


{% block title %}Users index
{% endblock %}


{% block body %}

<style>
</style>
	<div class="container-fluid  d-flex justify-content-center bg-object ">
		<div class="row container  d-flex justify-content-center  ">
		
			<div class="col-md-5 m-4  ">

	
				
				<h2 class="anim"><span>Declarer</span> un <span>objet</span></h2>
				{# {{ form_start(form) }}
																																				{{ form_widget(form) }}
																																
																																				<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
																																				{{ form_end(form) }} #}

				{{ form_start(form) }}
				{{ form_start(form) }}

				{{ form_row(form.lost, {label:"Etat ? *" }) }}
				{{ form_row(form.categories, {
								            label: 'choisir une categorie *' }) }}
				{{ form_row(form.categoriesdetails, {
								            label: 'Plus précisément *' }) }}

				{{ form_row(form.object_clues, {
								            label: 'Ou ? ' ,
											help :" Ex: Metro ,Bus , Aeroport , ......"
								        }) }}

				{{ form_row(form.objectname, {
								            label: "Nom D'objet * " ,
											
								        }) }}


				{{ form_row(form.lost_address, {
								            label: 'Adresse'	,
											help :"Ex: 19 Avenue des Chenes" }
										) }}


				<div class="row">

					<div class="col-md-6">{{ form_row(form.lost_city, {
								            label: 'Ville',
											help :"Ex: Paris" }
								        ) }}</div>

					<div class="col-md-6">
						{{ form_row(form.lost_codezip, {
								            label: 'code postal',
											help :" Ex: 75000" }
								        ) }}</div>
				</div>


				{{ form_row(form.lost_date, {
								            label: 'Quand ? ',
											
								        }) }}

				{{ form_row(form.imageobject, {
								            label: "Photo de l'objet"
								        }) }}
				{{ form_row(form.object_color, {
								            label: 'Couleur'
								        }) }}
				<div>

					<label for="recevoirconvoc[]" class="m-3">
						* une marque ?  un model ?
					</label>

					<input type="radio" name="recevoirconvoc[]" onchange="hideDiv()" checked>
					Non
					<input type="radio" name="recevoirconvoc[]" onchange="showDiv()">
					Oui

				</div>

				<div id="convocation">


					{{ form_row(form.object_state, {
								            label: "Etat "
								        }) }}
					{{ form_row(form.object_mark, {
								            label: 'Mark'
								        }) }}
					{{ form_row(form.object_model, {
								            label: 'Model'
								        }) }}


					{{ form_row(form.object_material, {
								            label: 'Materiel'
								        }) }}

				</div>
				<div>
					<label for="recevoirconvoc[0]" class="m-3">
						* des information sur proprietaire ?</label>

					<input type="radio" name="recevoirconvoc[0]" onchange="hideDive()" checked>
					Non
					<input type="radio" name="recevoirconvoc[0]" onchange="showDive()">
					Oui

				</div>

				<div id="convocatione">

					{{ form_row(form.owner_firstname, {
								            label: 'Nom du propriétaire'
								        }) }}
					{{ form_row(form.owner_secondname, {
								            label: 'Prénom du propriétaire'
								        }) }}
					{{ form_row(form.owner_address, {
								            label: 'Adresse du propriétaire'
								        }) }}
					<div class="row">

						<div class="col-md-6">
						
							{{ form_row(form.owner_city, {
								            label: 'Ville du propriétaire'
								        }) }}</div>
						<div class="col-md-6">
							{{ form_row(form.owner_codezip, {
								            label: 'Code postal du propriétaire'
								        }) }}</div>
					</div>


				</div>
				{{ form_row(form.object_description, {
								            label: 'Details',
										help :" Donnez un maximum de précision sur les circonstances de la perte/trouvaille et décrivez au mieux l’objet"

											
								        }) }}


				<div class="text-center">
					<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
				</div>


				{{ form_end(form) }}

			</div>
<div class=" p-0">
			{% include "partials/footer.html.twig" %}
			
		</div>
	</div>

		<script>
			
		</script>
	{% endblock body  %}
