{% extends 'base.html.twig' %}

{% block title %}SubCategories{% endblock %}

{% block body %}
    <h1>SubCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sub_category.name }}</td>
            </tr>
            <tr>
                <th>Objectname</th>
                <td>{{ sub_category.objectname }}</td>
            </tr>
            <tr>
                <th>Lost_address</th>
                <td>{{ sub_category.lostAddress }}</td>
            </tr>
            <tr>
                <th>Lost_codezip</th>
                <td>{{ sub_category.lostCodezip }}</td>
            </tr>
            <tr>
                <th>Lost_city</th>
                <td>{{ sub_category.lostCity }}</td>
            </tr>
            <tr>
                <th>Lost_date</th>
                <td>{{ sub_category.lostDate ? sub_category.lostDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Owner_secondname</th>
                <td>{{ sub_category.ownerSecondname }}</td>
            </tr>
            <tr>
                <th>Owner_firstname</th>
                <td>{{ sub_category.ownerFirstname }}</td>
            </tr>
            <tr>
                <th>Owner_address</th>
                <td>{{ sub_category.ownerAddress }}</td>
            </tr>
            <tr>
                <th>Owner_codezip</th>
                <td>{{ sub_category.ownerCodezip }}</td>
            </tr>
            <tr>
                <th>Owner_city</th>
                <td>{{ sub_category.ownerCity }}</td>
            </tr>
            <tr>
                <th>Object_state</th>
                <td>{{ sub_category.objectState }}</td>
            </tr>
            <tr>
                <th>Object_mark</th>
                <td>{{ sub_category.objectMark }}</td>
            </tr>
            <tr>
                <th>Object_model</th>
                <td>{{ sub_category.objectModel }}</td>
            </tr>
            <tr>
                <th>Object_color</th>
                <td>{{ sub_category.objectColor }}</td>
            </tr>
            <tr>
                <th>Object_material</th>
                <td>{{ sub_category.objectMaterial }}</td>
            </tr>
            <tr>
                <th>Object_description</th>
                <td>{{ sub_category.objectDescription }}</td>
            </tr>
            <tr>
                <th>Object_clues</th>
                <td>{{ sub_category.objectClues }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ sub_category.createdAt ? sub_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ sub_category.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sub_categories_index') }}">back to list</a>

    <a href="{{ path('app_sub_categories_edit', {'id': sub_category.id}) }}">edit</a>

    {{ include('sub_categories/_delete_form.html.twig') }}
{% endblock %}
