{% extends 'partials/navbar2.html.twig' %}


{% block title %}Messages envoyees
{% endblock %}

{% block body %}
	<div class="row container">
		
			<h3 class="m-3">
				vous avez
				{{ app.user.sendermessages | length }}
				Messages envoyes 
			</h3>

			<table class="table bg-white h-75 m-5">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">a</th>
						<th scope="col">sujet</th>
						<th scope="col">images</th>
						<th scope="col">date</th>
						<th scope="col">action</th>
					</tr>
				</thead>
				<tbody>
{% set id = 0 %}
					{% for message in app.user.sendermessages |sort ((a, b) => b.id <=> a.id) %}

						<tr>
							<th scope="row"></th>
							<td>{{ message.recipient.firstname }}
						<div   id="maDIV{{ id }}" style="display:none;" class="figure-caption-test" >	<p>	 message :</p>
						<p>{{ message.message }}</p></div></td>
							
							<td>{{ message.title }}</td>
							{% if message.imagemessage == null %}
								 {% set id = id + 1 %}
								<td>
									<span class="fa fa-file-image-o"></span>
								</td>
							{% else %}
								<td><img style="width: 20px;" src="{{ asset('uploads/messages/'~ message.imagemessage) }}" alt="..."/></td>
							{% endif %}
							<td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i') : '' }}</td>
							<td class="p-1">
								<div class="row">
									<button  onclick="toggleText()" class=" btn col-md-3 text-primary" >
										<span class="fa fa-eye" aria-hidden="true"></span>
									</button>
								

									<div class="col-md-3 ">{{ include('messages/_delete_form.html.twig') }}</div>

								</div>
							
							</td>
	

						</tr>
		
					{% endfor %}

				</tbody>
			</table>
		
		{% include "partials/footer.html.twig" %}
	</div>
{% endblock %}
