{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="row  d-flex justify-content-center mt-5 ">
    <div class="col-md-6 m-5  bg-register ">

     <h1 class=" text-center">Register</h1>

    {{ form_start(registrationForm) }}
      	{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.secondname, {
            label: 'nom'
        }) }}
			{{ form_row(registrationForm.firstname, {
            label: 'prenom'
        }) }}
			<div class="row">
				<div class="col-md-6">
					{{ form_row(registrationForm.address, {
            label: 'adresse'
        }) }}</div>
				<div class="col-md-6">
					{{ form_row(registrationForm.zipcode, {
            label: 'code postale'
        }) }}</div>
			</div>


			{{ form_row(registrationForm.city, {
            label: 'ville'
        }) }}
			{{ form_row(registrationForm.phone, {
            label: 'telephone'
        }) }}
			{{ form_row(registrationForm.email, {
            label: 'email'
        }) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'mot de passe'
            
        }) }}
        <input type="checkbox" required>J'ai lu et j'accepte les <a href="{{path('app_conditions')}}"> conditions d'utilisation </a> ainsi que   <a href="{{path('app_confidentialite')}}"> la politique de confidentialité  </a>
 <br>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}

    </div>
</div>
   {% endblock %}
